Sushilnia_NPG_2023.txt
[{"id":"dd4b65c0e612d264","type":"tab","label":"Сушилня","disabled":false,"info":"","env":[]},{"id":"dfde6e7a7e988c46","type":"mqtt in","z":"dd4b65c0e612d264","name":"","topic":"atasav/temp1","qos":"2","datatype":"auto-detect","broker":"2704c2882a9a1052","nl":false,"rap":true,"rh":0,"inputs":0,"x":135,"y":190,"wires":[["68e4abf932b073fb"]]},{"id":"68e4abf932b073fb","type":"ui_gauge","z":"dd4b65c0e612d264","name":"","group":"ae90a2a47914ed8d","order":0,"width":"5","height":"5","gtype":"gage","title":"Температура 1","label":"°С","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":350,"y":190,"wires":[]},{"id":"ca962b2ad2a1b515","type":"mqtt in","z":"dd4b65c0e612d264","name":"","topic":"atasav/temp2","qos":"2","datatype":"auto-detect","broker":"2704c2882a9a1052","nl":false,"rap":true,"rh":0,"inputs":0,"x":135,"y":250,"wires":[["be1411fbcbfd3c1f"]]},{"id":"be1411fbcbfd3c1f","type":"ui_gauge","z":"dd4b65c0e612d264","name":"","group":"ae90a2a47914ed8d","order":0,"width":"5","height":"5","gtype":"gage","title":"Температура 2","label":"°С","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":350,"y":250,"wires":[]},{"id":"c1ebc781e9dffe4e","type":"mqtt in","z":"dd4b65c0e612d264","name":"","topic":"atasav/hum1","qos":"2","datatype":"auto-detect","broker":"2704c2882a9a1052","nl":false,"rap":true,"rh":0,"inputs":0,"x":135,"y":310,"wires":[["a20bc88e663036e5"]]},{"id":"a20bc88e663036e5","type":"ui_gauge","z":"dd4b65c0e612d264","name":"","group":"ae90a2a47914ed8d","order":0,"width":"5","height":"5","gtype":"gage","title":"Влажност 1","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#0a5af0","#0a5af0","#0a5af0"],"seg1":"","seg2":"","diff":false,"className":"","x":345,"y":310,"wires":[]},{"id":"a437080b0c5c627a","type":"mqtt in","z":"dd4b65c0e612d264","name":"","topic":"atasav/hum2","qos":"2","datatype":"auto-detect","broker":"2704c2882a9a1052","nl":false,"rap":true,"rh":0,"inputs":0,"x":135,"y":370,"wires":[["c6568e0035296a50"]]},{"id":"c6568e0035296a50","type":"ui_gauge","z":"dd4b65c0e612d264","name":"","group":"ae90a2a47914ed8d","order":0,"width":"5","height":"5","gtype":"gage","title":"Влажност 2","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#0adcf0","#0adcf0","#0adcf0"],"seg1":"","seg2":"","diff":false,"className":"","x":350,"y":370,"wires":[]},{"id":"dd6464bf35592ed1","type":"mqtt out","z":"dd4b65c0e612d264","name":"","topic":"atasav/relay","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"2704c2882a9a1052","x":890,"y":260,"wires":[]},{"id":"62990fdf622e9454","type":"ui_switch","z":"dd4b65c0e612d264","name":"","label":"Овлажнител","tooltip":"","group":"717b63385f142b88","order":2,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"ON1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF1","offvalueType":"str","officon":"","offcolor":"","animate":false,"className":"","x":655,"y":185,"wires":[["dd6464bf35592ed1"]]},{"id":"211a032b85d9a6c1","type":"ui_switch","z":"dd4b65c0e612d264","name":"","label":"Обезвлажнител","tooltip":"","group":"717b63385f142b88","order":3,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"ON2","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF2","offvalueType":"str","officon":"","offcolor":"","animate":false,"className":"","x":665,"y":245,"wires":[["dd6464bf35592ed1"]]},{"id":"edeea64e18ef4a73","type":"ui_switch","z":"dd4b65c0e612d264","name":"","label":"Охладител","tooltip":"","group":"717b63385f142b88","order":4,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"ON3","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF3","offvalueType":"str","officon":"","offcolor":"","animate":false,"className":"","x":655,"y":305,"wires":[["dd6464bf35592ed1"]]},{"id":"0317c33676702123","type":"ui_switch","z":"dd4b65c0e612d264","name":"","label":"Нагревател","tooltip":"","group":"717b63385f142b88","order":5,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"ON4","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF4","offvalueType":"str","officon":"","offcolor":"","animate":false,"className":"","x":660,"y":360,"wires":[["dd6464bf35592ed1"]]},{"id":"125519432c2cf484","type":"ui_switch","z":"dd4b65c0e612d264","name":"","label":"Ръчен режим","tooltip":"","group":"c0fa01282c20aaae","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","animate":false,"className":"","x":455,"y":30,"wires":[["28f152d85c92a0e8","47b554ce11ae890f","6b0de88c68b07cad"]]},{"id":"32df20b07a8c0be9","type":"mqtt out","z":"dd4b65c0e612d264","name":"","topic":"atasav/settempmin","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"2704c2882a9a1052","x":900,"y":750,"wires":[]},{"id":"67f4bee8918794c5","type":"ui_numeric","z":"dd4b65c0e612d264","name":"","label":"Мин. температура","tooltip":"","group":"c0fa01282c20aaae","order":5,"width":0,"height":0,"wrap":false,"passthru":false,"topic":"topic","topicType":"msg","format":"{{value}}","min":0,"max":"40","step":1,"className":"","x":645,"y":515,"wires":[["eb2c3201d3acd393","6de9488f0f89e67d"]]},{"id":"28f152d85c92a0e8","type":"mqtt out","z":"dd4b65c0e612d264","name":"","topic":"atasav/rstate","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"2704c2882a9a1052","x":840,"y":30,"wires":[]},{"id":"0bc0dc57e403c7a3","type":"mqtt out","z":"dd4b65c0e612d264","name":"","topic":"atasav/settempmax","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"2704c2882a9a1052","x":900,"y":815,"wires":[]},{"id":"1c9975c392aa4ba8","type":"ui_numeric","z":"dd4b65c0e612d264","name":"","label":"Макс. температура","tooltip":"","group":"c0fa01282c20aaae","order":5,"width":0,"height":0,"wrap":false,"passthru":false,"topic":"topic","topicType":"msg","format":"{{value}}","min":0,"max":"40","step":1,"className":"","x":640,"y":575,"wires":[["5aabcb8557b270bd","16958e2347159470"]]},{"id":"dcb957f4128d4224","type":"mqtt out","z":"dd4b65c0e612d264","name":"","topic":"atasav/sethummin","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"2704c2882a9a1052","x":900,"y":875,"wires":[]},{"id":"693cdfe25f2bcfad","type":"ui_numeric","z":"dd4b65c0e612d264","name":"","label":"Мин. влажност","tooltip":"","group":"c0fa01282c20aaae","order":5,"width":0,"height":0,"wrap":false,"passthru":false,"topic":"topic","topicType":"msg","format":"{{value}}","min":0,"max":"100","step":1,"className":"","x":145,"y":515,"wires":[["5d19f2d0841201c5","78c4ea8dbad8377c"]]},{"id":"f1f5c03d5c39a0e7","type":"mqtt out","z":"dd4b65c0e612d264","name":"","topic":"atasav/sethummax","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"2704c2882a9a1052","x":900,"y":940,"wires":[]},{"id":"0f2563fa6e2bf9dd","type":"ui_numeric","z":"dd4b65c0e612d264","name":"","label":"Макс. влажност","tooltip":"","group":"c0fa01282c20aaae","order":5,"width":0,"height":0,"wrap":false,"passthru":false,"topic":"topic","topicType":"msg","format":"{{value}}","min":0,"max":"100","step":1,"className":"","x":145,"y":580,"wires":[["3bf5f5178407ec1e","140cf821e747b199"]]},{"id":"a14cf8cb82b0c5f7","type":"mqtt in","z":"dd4b65c0e612d264","name":"","topic":"atasav/tsr","qos":"2","datatype":"auto-detect","broker":"2704c2882a9a1052","nl":false,"rap":true,"rh":0,"inputs":0,"x":105,"y":745,"wires":[["c1a256d484ac789a","0a5dc64844e52cd7"]]},{"id":"f626e9b447a3c796","type":"mqtt in","z":"dd4b65c0e612d264","name":"","topic":"atasav/hsr","qos":"2","datatype":"auto-detect","broker":"2704c2882a9a1052","nl":false,"rap":true,"rh":0,"inputs":0,"x":110,"y":840,"wires":[["c1db88cbd444c802","bdac5477b1785f7a"]]},{"id":"c1a256d484ac789a","type":"ui_artlessgauge","z":"dd4b65c0e612d264","group":"047c3982a1a97041","order":1,"width":"5","height":"4","name":"Температура средна","icon":"","label":"Температура ср.","unit":"°С","layout":"radial","decimals":"1","differential":false,"minmax":false,"colorTrack":"#555555","style":"14,2","colorFromTheme":true,"property":"payload","secondary":"secondary","inline":false,"animate":false,"sectors":[{"val":0,"col":"#ff00ff","t":"min","dot":0},{"val":100,"col":"#ff00ff","t":"max","dot":0}],"lineWidth":"15","bgcolorFromTheme":true,"diffCenter":"","x":320,"y":765,"wires":[]},{"id":"c1db88cbd444c802","type":"ui_artlessgauge","z":"dd4b65c0e612d264","group":"047c3982a1a97041","order":2,"width":"5","height":"4","name":"Влажност средна","icon":"","label":"Влажност ср.","unit":"%","layout":"radial","decimals":0,"differential":false,"minmax":false,"colorTrack":"#555555","style":"14,2","colorFromTheme":true,"property":"payload","secondary":"secondary","inline":false,"animate":false,"sectors":[{"val":0,"col":"#00e1e1","t":"min","dot":0},{"val":100,"col":"#00e1e1","t":"max","dot":0}],"lineWidth":"15","bgcolorFromTheme":true,"diffCenter":"","x":310,"y":860,"wires":[]},{"id":"0a5dc64844e52cd7","type":"ui_chart","z":"dd4b65c0e612d264","name":"","group":"4080ea097dfdde3f","order":0,"width":"24","height":"4","label":"Температура ср.","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"25","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#91b423","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":315,"y":720,"wires":[[]]},{"id":"bdac5477b1785f7a","type":"ui_chart","z":"dd4b65c0e612d264","name":"","group":"4080ea097dfdde3f","order":0,"width":"24","height":"4","label":"Влажност ср.","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"25","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#2da0aa","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":305,"y":820,"wires":[[]]},{"id":"47b554ce11ae890f","type":"function","z":"dd4b65c0e612d264","name":"Enable/Disable Manual","func":"var data = msg.payload;\nif (data == \"ON\"){\n    msg.enabled = true;\n} else if (data == \"OFF\"){\n    msg.enabled = false;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":675,"y":85,"wires":[["62990fdf622e9454","211a032b85d9a6c1","edeea64e18ef4a73","0317c33676702123","693cdfe25f2bcfad","67f4bee8918794c5","0f2563fa6e2bf9dd","1c9975c392aa4ba8","ad4540d778429030"]]},{"id":"781fe2c2a8d6e48d","type":"ui_text","z":"dd4b65c0e612d264","group":"717b63385f142b88","order":1,"width":0,"height":0,"name":"","label":"Режим","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":445,"y":105,"wires":[]},{"id":"6b0de88c68b07cad","type":"function","z":"dd4b65c0e612d264","name":"Manual","func":"var data = msg.payload;\nif (data == \"ON\"){\n    msg.payload = \"Включен\";\n} else if (data == \"OFF\"){\n    msg.payload = \"Изключен\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":265,"y":105,"wires":[["781fe2c2a8d6e48d"]]},{"id":"11f89d2f7b58840d","type":"ui_button","z":"dd4b65c0e612d264","name":"","group":"a99663d9e1db9e8e","order":0,"width":0,"height":0,"passthru":false,"label":"ИЗПРАТИ","tooltip":"","color":"red","bgcolor":"lime","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":85,"y":445,"wires":[["693cdfe25f2bcfad","67f4bee8918794c5","0f2563fa6e2bf9dd","1c9975c392aa4ba8","75d30248d52f797b"]]},{"id":"6f41c09db52d046d","type":"ui_text","z":"dd4b65c0e612d264","group":"d610def389f13b01","order":4,"width":"6","height":"1","name":"","label":"Макс.влажност","format":"<font color={{fcolor}}>{{msg.payload}}</font color>","layout":"col-center","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":465,"y":635,"wires":[]},{"id":"b7bf62d3fab691f6","type":"ui_text","z":"dd4b65c0e612d264","group":"d610def389f13b01","order":1,"width":"6","height":"1","name":"","label":"Мин.температура","format":"<font color={{fcolor}}>{{msg.payload}}</font color>","layout":"col-center","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":900,"y":460,"wires":[]},{"id":"24eea4d75c521e6f","type":"ui_text","z":"dd4b65c0e612d264","group":"d610def389f13b01","order":2,"width":"6","height":"1","name":"","label":"Макс.температура","format":"<font color={{fcolor}}>{{msg.payload}}</font color>","layout":"col-center","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":885,"y":640,"wires":[]},{"id":"9e3ec18d42d32ce6","type":"ui_text","z":"dd4b65c0e612d264","group":"d610def389f13b01","order":3,"width":"6","height":"1","name":"","label":"Мин.влажност","format":"<font color={{fcolor}}>{{msg.payload}}</font color>","layout":"col-center","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":475,"y":450,"wires":[]},{"id":"ad4540d778429030","type":"function","z":"dd4b65c0e612d264","name":"GET Manual Value","func":"var msg1 = {};\nvar msg2 = {};\nvar msg3 = {};\nvar msg4 = {};\n\nvar temp_min = global.get(\"TEMP_MIN\");\nvar temp_max = global.get(\"TEMP_MAX\");\nvar hum_min = global.get(\"HUM_MIN\");\nvar hum_max = global.get(\"HUM_MAX\");\n\nmsg1.payload = temp_min;\nmsg2.payload = temp_max;\nmsg3.payload = hum_min;\nmsg4.payload = hum_max;\nreturn [msg1, msg2, msg3, msg4];","outputs":4,"noerr":0,"initialize":"","finalize":"","libs":[],"x":595,"y":840,"wires":[["32df20b07a8c0be9","67f4bee8918794c5"],["0bc0dc57e403c7a3","1c9975c392aa4ba8"],["dcb957f4128d4224","693cdfe25f2bcfad"],["f1f5c03d5c39a0e7","0f2563fa6e2bf9dd"]]},{"id":"75d30248d52f797b","type":"delay","z":"dd4b65c0e612d264","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":560,"y":745,"wires":[["ad4540d778429030"]]},{"id":"5d19f2d0841201c5","type":"function","z":"dd4b65c0e612d264","name":"Global Humidity MIN","func":"var data = msg.payload;\nglobal.set(\"HUM_MIN\",data);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":515,"wires":[[]]},{"id":"3bf5f5178407ec1e","type":"function","z":"dd4b65c0e612d264","name":"Global Humidity MAX","func":"var data = msg.payload;\nglobal.set(\"HUM_MAX\",data);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":580,"wires":[[]]},{"id":"eb2c3201d3acd393","type":"function","z":"dd4b65c0e612d264","name":"Global Temp MIN","func":"var data = msg.payload;\nglobal.set(\"TEMP_MIN\",data);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":890,"y":515,"wires":[[]]},{"id":"5aabcb8557b270bd","type":"function","z":"dd4b65c0e612d264","name":"Global Temp MAX","func":"var data = msg.payload;\nglobal.set(\"TEMP_MAX\",data);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":885,"y":580,"wires":[[]]},{"id":"78c4ea8dbad8377c","type":"change","z":"dd4b65c0e612d264","name":"","rules":[{"t":"set","p":"fcolor","pt":"msg","to":"lime","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":285,"y":450,"wires":[["9e3ec18d42d32ce6"]]},{"id":"6de9488f0f89e67d","type":"change","z":"dd4b65c0e612d264","name":"","rules":[{"t":"set","p":"fcolor","pt":"msg","to":"lime","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":460,"wires":[["b7bf62d3fab691f6"]]},{"id":"140cf821e747b199","type":"change","z":"dd4b65c0e612d264","name":"","rules":[{"t":"set","p":"fcolor","pt":"msg","to":"lime","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":285,"y":635,"wires":[["6f41c09db52d046d"]]},{"id":"16958e2347159470","type":"change","z":"dd4b65c0e612d264","name":"","rules":[{"t":"set","p":"fcolor","pt":"msg","to":"lime","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":685,"y":640,"wires":[["24eea4d75c521e6f"]]},{"id":"2704c2882a9a1052","type":"mqtt-broker","name":"Local broker","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"ae90a2a47914ed8d","type":"ui_group","name":"Gauge1","tab":"39a9b8922cfaf1e6","order":3,"disp":false,"width":"20","collapse":false,"className":""},{"id":"717b63385f142b88","type":"ui_group","name":"REL","tab":"39a9b8922cfaf1e6","order":2,"disp":false,"width":"4","collapse":false,"className":""},{"id":"c0fa01282c20aaae","type":"ui_group","name":"Manual","tab":"39a9b8922cfaf1e6","order":1,"disp":false,"width":"5","collapse":false,"className":""},{"id":"047c3982a1a97041","type":"ui_group","name":"ArtGauge","tab":"39a9b8922cfaf1e6","order":6,"disp":false,"width":"5","collapse":false,"className":""},{"id":"4080ea097dfdde3f","type":"ui_group","name":"Chart","tab":"39a9b8922cfaf1e6","order":7,"disp":false,"width":"24","collapse":false,"className":""},{"id":"a99663d9e1db9e8e","type":"ui_group","name":"Button","tab":"39a9b8922cfaf1e6","order":4,"disp":false,"width":"5","collapse":false,"className":""},{"id":"d610def389f13b01","type":"ui_group","name":"Info","tab":"39a9b8922cfaf1e6","order":5,"disp":false,"width":"24","collapse":false,"className":""},{"id":"39a9b8922cfaf1e6","type":"ui_tab","name":"Сушилня","icon":"dashboard","order":2,"disabled":false,"hidden":false}]